/* HOMEPAGE CSS SECTION */
/* Includes everything except for Navigation Bar */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    background-image: linear-gradient(to left, #0A0B0D, #0A0B0D, #26282F, #34373F, #40444E,#363941); 
    background-color: #11122b;
    font-size: 20px;
}

a{ /* Generic <a href> styling */
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration: none
}

/* MAIN WRAPPER SECTION --------------------------------- */
.main-wrapper {
    display: grid;
    /* 2 Columns (left-column, right-Column)*/
    grid-template-columns: 1.3fr 0.98fr;
    padding-top: 46px;
}
   /* MAIN Left-Column  */
.main-wrapper >.left-column {
    margin-left: 70px;
    margin-right: 70px;
    margin-top: -10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    font-size: 42px;
}

.main-wrapper >.left-column >.topSection {
    font-size: 46px;
    color: rgb(209, 207, 207);
    height: 200px;
    letter-spacing: 0.08rem;
}

.main-wrapper >.left-column >.centerSection{
    color: rgb(160, 156, 156);
    margin-bottom: -20px;
    font-weight: 300;
    font-size: 40px;
    margin-top: 10px;
    line-height: 1.45;
}
.main-wrapper >.left-column >.centerSection p{
    font-weight: 500;
}

.main-wrapper >.left-column >.bottomSection{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 95px;
    margin-top: 25px;
}

.main-wrapper >.left-column >.bottomSection >.left-button{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #4BCE79;
    border-radius: 5px;
    padding: 0px 35px;
    margin-right: 25px;
    height: 95px;
}

.main-wrapper >.left-column >.bottomSection >.left-button:hover{
    background-color: #30854d;
    color: white;
}

.main-wrapper >.left-column >.bottomSection >.left-button a{
    color: black;
}

.main-wrapper >.left-column >.bottomSection >.right-button{
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: #111111;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 0px 25px;
    height: 95px;
}

.main-wrapper >.left-column >.bottomSection >.right-button:hover{
    background-color: #232424;
}

   /* MAIN: Right Column  */
.main-wrapper > .right-column {
    display: flex;
    flex-direction: column;
    padding-left: 25px;
}

.main-wrapper > .right-column > .text-wrapper{
    display: flex;
    padding-left: 15px;
    padding-bottom: -5px;
    color: white;
    font-size: 24px;
 }

.main-wrapper > .right-column > .project-image img{
    width: 100%;
    margin-top: -12px;
}


/* CATEGORIES WRAPPER SECTION */
.categories-wrapper {
    margin-top: 2px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr; /* Categories in 4 Columns */
    background-color: #36383F;
    border-top: 1.5px solid #676767;
    border-bottom: 1.5px solid #676767;
    color: white;
    line-height: 1.25rem;
}

.categories-wrapper >.category {
    display: flex;
    justify-content: center;
    border-left: 1.5px solid #676767;
    border-right: 1.5px solid #676767;
    font-size: 1.5rem;
    align-items: center; 
    height: 80px;
}

.categories-wrapper >.category >.categ{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.categories-wrapper >.category >.categ:visited {
    color: white;
    text-decoration: none;
}

.categories-wrapper >.category >.categ:hover {
    color: black;
}

.categories-wrapper >.category:hover {
    color: black;
}

.categories-wrapper >.category a{
    font-family: 'Lato', sans-serif; 
}

.categories-wrapper >.category a >.higherFont{
    font-family: 'Roboto', sans-serif; 
    font-weight: bolder; 
    font-size: 30px;
}


/* FOOTER WRAPPER (EMPTY) SECTION --------------------------------- */
.footer-wrapper {
    background-color: #191A1D;
    height: 120px;
}